<h1 class="display-4 text-center">Precios</h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#armas" aria-expanded="true" aria-controls="armas">
          Armas
        </button>
      </h2>
    </div>

    <div id="armas" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <!-- Armas cuerpo a cuerpo -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#armasCuerpoACuerpo">
          Armas cuerpo a cuerpo
        </button>
        <div class="modal fade" id="armasCuerpoACuerpo" tabindex="-1" role="dialog" aria-labelledby="armasCuerpoACuerpoModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="armasCuerpoACuerpoModal">Armas cuerpo a cuerpo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Arma</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Cuchillo:</strong> única arma permitida a los campesinos</td>
                      <td>2 Fénix</td>
                    </tr>
                    <tr>
                      <td>Puñal</td>
                      <td>4 Fénix</td>
                    </tr>
                    <tr>
                      <td><strong>Estoque:</strong> no activa los escudos energéticos</td>
                      <td>10 Fénix</td>
                    </tr>
                    <tr>
                      <td>Espada</td>
                      <td>15 Fénix</td>
                    </tr>
                    <tr>
                      <td>Cimitarra</td>
                      <td>20 Fénix</td>
                    </tr>
                    <tr>
                      <td>Espada a dos manos</td>
                      <td>30 Fénix</td>
                    </tr>
                    <tr>
                      <td>Garrote</td>
                      <td>Despreciable</td>
                    </tr>
                    <tr>
                      <td>Maza</td>
                      <td>10 Fénix</td>
                    </tr>
                    <tr>
                      <td>Mayal: típico nunchaku</td>
                      <td>4 Fénix</td>
                    </tr>
                    <tr>
                      <td>Bastón</td>
                      <td>Despreciable</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Artefactos cuerpo a cuerpo -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#artefactosCuerpoACuerpo">
          Artefactos cuerpo a cuerpo
        </button>
        <div class="modal fade" id="artefactosCuerpoACuerpo" tabindex="-1" role="dialog" aria-labelledby="artefactosCuerpoACuerpoModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="artefactosCuerpoACuerpoModal">Artefactos cuerpo a cuerpo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Artefacto</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Vibrofilo:</strong> modificación a un arma de filo mediante un aparato eléctrico. Produce zumbidos a la hoja. Apagada, el arma produce un dado menos de daño. Encendido, el arma atraviesa más fácilmente los escudos de energía. Suma uno al daño requerido para activar el escudo y resta un dado a sus máximos. Es necesaria una pila de fusión para 25 turnos de uso.</td>
                      <td>+100 Fénix</td>
                    </tr>
                    <tr>
                      <td><strong>Filoespada:</strong> cortan la carne sin ninguna resistencia. Es necesaria una pila de fusión para 30 turnos de uso. se puede filtrar a través de escudos energéticos. Una tirada de 1, 2, 3, 4 ó 5 ignora el escudo. Es necesaria una pila de fusión para 30 turnos. Están construidas con tecnología arcana, de manera que hoy en día práticamente no se fabrican.</td>
                      <td>+10000 Fénix</td>
                    </tr>
                    <tr>
                      <td><strong>Espada de flujo:</strong> activada, crea un campo de energía que recubre la hoja de plasma. Cualquier cosa que entre en contacto con ella se verá seriamente dañado. Las tiradas de 1, 2, 3, 4 y 5 obvian el escudo energético. La pila dura 30 turnos. Hoy en día no pueden fabricarse. Quedan 10, pero esa información está perdida.</td>
                      <td>+15000 Fénix</td>
                    </tr>
                    <tr>
                      <td><strong>Espada de Niebla:</strong> es necesario tener nivel de Psi para poder utilizarla. Para sintonizarla se deben recoger un total de 20 puntos de victoria de Psi + Concentración. Mano lejana cuesta un punto menos de Wyrd sobre ella. Se pueden invertir puntos de Wyrd para incrementar las tiradas de dificultad o los dados de daño. La máxima cantidad de puntos de Wyrd canalizables es el valor máximo de Psi del personaje. Es el artefacto más raro de la Segunda República y es único. Paradero desconocido.</td>
                      <td>Incalculable</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Armas arrojadizas -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#armasArrojadizas">
          Armas arrojadizas
        </button>
        <div class="modal fade" id="armasArrojadizas" tabindex="-1" role="dialog" aria-labelledby="armasArrojadizasModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="armasArrojadizasModal">Armas arrojadizas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Arma</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cuchillo arrojadizo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Estrella arrojadiza</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Dardo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Arcos y ballestas -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#arcosYBallestas">
          Arcos y ballestas
        </button>
        <div class="modal fade" id="arcosYBallestas" tabindex="-1" role="dialog" aria-labelledby="arcosYBallestasModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="arcosYBallestasModal">Arcos y ballestas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Arco/Ballesta</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Munición</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Arco de caza</td>
                      <td>5 Fénix</td>
                      <td>Flecha</td>
                      <td>1 Ala la unidad</td>
                    </tr>
                    <tr>
                      <td>Arco de precisión</td>
                      <td>7 Fénix</td>
                      <td>Saeta pequeña</td>
                      <td>3 Ala la unidad</td>
                    </tr>
                    <tr>
                      <td>Ballesta de mano</td>
                      <td>7 Fénix</td>
                      <td>Saeta</td>
                      <td>1 Blasón la unidad</td>
                    </tr>
                    <tr>
                      <td>Ballesta media</td>
                      <td>10 Fénix</td>
                      <td>Saeta</td>
                      <td>1 Blasón la unidad</td>
                    </tr>
                    <tr>
                      <td>Ballesta pesada</td>
                      <td>15 Fénix</td>
                      <td>Saeta</td>
                      <td>1 Blasón la unidad</td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Munición</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Punta dentada:</strong> no aumentan el daño al impactar pero para extraerlas hacenun punto de daño ignorando la armadura. Destreza + Medicina para extraerla sin penalización</td>
                      <td>+1 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td><strong>Punta aerodinámica:</strong> disminuye un punto de dificultad y resta un dado de daño.</td>
                      <td>+1 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td><strong>Punta explosiva:</strong> explota únicamente al perforar la carne. Disminuye dos puntos de dificultad y sume tres dados al daño. Ignora la armadura y el escudo energético.</td>
                      <td>+5 Fénix la unidad</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Armas de fuego -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#armasDeFuego">
          Armas de fuego
        </button>
        <div class="modal fade" id="armasDeFuego" tabindex="-1" role="dialog" aria-labelledby="armasDeFuegoModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="armasDeFuegoModal">Armas de fuego</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Arma</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Derringer:</strong> diseñada para ocultarse en la bota u otro lugar fácilmente accesible. Puede tratarse de un revólver (2 disparos) o una pistola automática (5 disparos).</td>
                      <td>50 Fénix</td>
                    </tr>
                    <tr>
                      <td>Revólver ligero</td>
                      <td>100 Fénix</td>
                    </tr>
                    <tr>
                      <td>Pistola automática</td>
                      <td>150 Fénix</td>
                    </tr>
                    <tr>
                      <td>Revólver medio</td>
                      <td>200 Fénix</td>
                    </tr>
                    <tr>
                      <td>Pistola automática media</td>
                      <td>250 Fénix</td>
                    </tr>
                    <tr>
                      <td>Revólver pesado</td>
                      <td>250 Fénix</td>
                    </tr>
                    <tr>
                      <td>Pistola automática pesada</td>
                      <td>300 Fénix</td>
                    </tr>
                    <tr>
                      <td>Fusil de asalto</td>
                      <td>500 Fénix</td>
                    </tr>
                    <tr>
                      <td>Rifle de precisión</td>
                      <td>700 Fénix</td>
                    </tr>
                    <tr>
                      <td>Ametralladora</td>
                      <td>350 Fénix</td>
                    </tr>
                    <tr>
                      <td>Escopeta</td>
                      <td>300 Fénix</td>
                    </tr>
                    <tr>
                      <td>Ametralladora ligera Jahnisak(10mm)</td>
                      <td>750 Fénix</td>
                    </tr>
                    <tr>
                      <td>Ametralladora pesada FuryStorm (10mm)</td>
                      <td>1500 Fénix</td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-borderless table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Munición</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ligera</td>
                      <td>1 Ala el cartucho</td>
                    </tr>
                    <tr>
                      <td>Media</td>
                      <td>1 Blasón el cartucho</td>
                    </tr>
                    <tr>
                      <td>Pesada</td>
                      <td>1 Fénix el cartucho</td>
                    </tr>
                    <tr>
                      <td>Fusil de asalto</td>
                      <td>2 Fénix el cartucho</td>
                    </tr>
                    <tr>
                      <td>Rifle de precisión</td>
                      <td>3 Fénix el cartucho</td>
                    </tr>
                    <tr>
                      <td>Ametralladora</td>
                      <td>1 Blasón la bala</td>
                    </tr>
                    <tr>
                      <td>Escopeta</td>
                      <td>1 Blasón el cartucho</td>
                    </tr>
                    <tr>
                      <td><strong>Antidisturbios:</strong> tirada de armadura de 7 en vez de 13 para dañar.</td>
                      <td>+3 Fénix el cartucho</td>
                    </tr>
                    <tr>
                      <td><strong>Perforante:</strong> daño de 1, 2 o 3 ignoran la armadura.</td>
                      <td>+3 Fénix el cartucho</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Armas arrojadizas -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#armasArrojadizas">
          Armas arrojadizas
        </button>
        <div class="modal fade" id="armasArrojadizas" tabindex="-1" role="dialog" aria-labelledby="armasArrojadizasModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="armasArrojadizasModal">Armas arrojadizas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Arma</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cuchillo arrojadizo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Estrella arrojadiza</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Dardo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Armas arrojadizas -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#armasArrojadizas">
          Armas arrojadizas
        </button>
        <div class="modal fade" id="armasArrojadizas" tabindex="-1" role="dialog" aria-labelledby="armasArrojadizasModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="armasArrojadizasModal">Armas arrojadizas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Arma</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cuchillo arrojadizo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Estrella arrojadiza</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Dardo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Armas arrojadizas -->
        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#armasArrojadizas">
          Armas arrojadizas
        </button>
        <div class="modal fade" id="armasArrojadizas" tabindex="-1" role="dialog" aria-labelledby="armasArrojadizasModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="armasArrojadizasModal">Armas arrojadizas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-borderless table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Arma</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cuchillo arrojadizo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Estrella arrojadiza</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                    <tr>
                      <td>Dardo</td>
                      <td>2 Fénix la unidad</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#armaduras" aria-expanded="false" aria-controls="armaduras">
          Armaduras
        </button>
      </h2>
    </div>
    <div id="armaduras" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#equipoMedico" aria-expanded="false" aria-controls="equipoMedico">
          Equipo médico
        </button>
      </h2>
    </div>
    <div id="equipoMedico" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#drogasYVenenos" aria-expanded="false" aria-controls="drogasYVenenos">
          Drogas y venenos
        </button>
      </h2>
    </div>
    <div id="drogasYVenenos" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#comunicaciones" aria-expanded="false" aria-controls="comunicaciones">
          Comunicaciones
        </button>
      </h2>
    </div>
    <div id="comunicaciones" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#luz" aria-expanded="false" aria-controls="luz">
          Luz
        </button>
      </h2>
    </div>
    <div id="luz" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#herramientas" aria-expanded="false" aria-controls="herramientas">
          Herramientas
        </button>
      </h2>
    </div>
    <div id="herramientas" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#sistemasDeSeguridad" aria-expanded="false" aria-controls="sistemasDeSeguridad">
          Sistemas de seguridad
        </button>
      </h2>
    </div>
    <div id="sistemasDeSeguridad" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#inmovilizadores" aria-expanded="false" aria-controls="inmovilizadores">
          Inmovilizadores
        </button>
      </h2>
    </div>
    <div id="inmovilizadores" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#maquinasPensantes" aria-expanded="false" aria-controls="maquinasPensantes">
          Máquinas pensantes
        </button>
      </h2>
    </div>
    <div id="maquinasPensantes" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#transportePlanetario" aria-expanded="false" aria-controls="transportePlanetario">
          Transporte planetario
        </button>
      </h2>
    </div>
    <div id="transportePlanetario" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#navesEspaciales" aria-expanded="false" aria-controls="navesEspaciales">
          Naves espaciales
        </button>
      </h2>
    </div>
    <div id="navesEspaciales" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#aparatosCiberneticos" aria-expanded="false" aria-controls="aparatosCiberneticos">
          Aparatos cibernéticos
        </button>
      </h2>
    </div>
    <div id="aparatosCiberneticos" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#contratoDePasaje" aria-expanded="false" aria-controls="contratoDePasaje">
          Contrato de pasaje
        </button>
      </h2>
    </div>
    <div id="contratoDePasaje" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ropa" aria-expanded="false" aria-controls="ropa">
          Ropa
        </button>
      </h2>
    </div>
    <div id="ropa" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#alojamiento" aria-expanded="false" aria-controls="alojamiento">
          Alojamiento
        </button>
      </h2>
    </div>
    <div id="alojamiento" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#comida" aria-expanded="false" aria-controls="comida">
          Comida
        </button>
      </h2>
    </div>
    <div id="comida" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tecnologiaProhibida" aria-expanded="false" aria-controls="tecnologiaProhibida">
          Tecnología prohibida
        </button>
      </h2>
    </div>
    <div id="tecnologiaProhibida" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>