<h1 class="display-4 text-center">Cobros anuales</h1>
<div class="container-fluid">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Clase</th>
          <th class="text-center">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Siervo</td>
          <td class="text-center">12 Crestas</td>
        </tr>
        <tr>
          <td class="text-center">Gente libre</td>
          <td class="text-center">5/100 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Rango bajo de un gremio menor</td>
          <td class="text-center">100 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Rango alto de un gremio menor</td>
          <td class="text-center">300 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Rango bajo de un gremio mayor</td>
          <td class="text-center">200 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Rango alto de un gremio mayor</td>
          <td class="text-center">700 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Rango bajo de un sacerdote</td>
          <td class="text-center">100 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Rango alto de un sacerdote</td>
          <td class="text-center">400 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Caballero, obispo o dueño de un hacendado</td>
          <td class="text-center">1000 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Barón menor, cónsul o dueño acaudalado</td>
          <td class="text-center">3000 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Barón, arzobispo o dueño adinerado</td>
          <td class="text-center">5000 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Conde, marqués o dueño rico</td>
          <td class="text-center">10000 Fénix</td>
        </tr>
        <tr>
          <td class="text-center">Duque o dueño multimillonario</td>
          <td class="text-center">20000 Fénix</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>